# General Wrapper Offline Stuff
wrapper/_CACHÉ/*
wrapper/_SAVED/*
wrapper/_THEMES/import.xml
wrapper/main.js
wrapper/main-rpc.js
wrapper/main-norpc.js
!_*/_NO_REMÖVE
utilities/backups/*
utilities/import_these/*
utilities/renders/*
utilities/misc/temp/*
utilities/grounded_messages/*
utilities/config.bat
utilities/checks/disclaimer.txt
utilities/grounded_md5.txt
utilities/md5.txt
utilities/convmd5.txt
utilities/originalcfname.txt
server/characters/*
server/characters/characters.zip
server/store/3a981f5cb2739137/import/*
server/store/3a981f5cb2739137/cc_store/family/cc_theme.xml
server/store/3a981f5cb2739137/import/import.zip
server/store/3a981f5cb2739137/import/theme.xml
server/store/3a981f5cb2739137/business/*
server/store/3a981f5cb2739137/whiteboard/*
server/store/3a981f5cb2739137/infographics/*
server/store/3a981f5cb2739137/commoncraft/*
.DS_Store
.DS_Store
vfproxy/*
bbbb/*

# Personal Basilisk files
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/*
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/compatibility.ini
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/extensions.ini
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/extensions.json
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/places.sqlite
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/pluginreg.dat
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/prefs.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/sessionstore-backups/previous.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/sessionstore.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/startupCache/startupCache.4.little
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/user.js
utilities/basilisk/Basilisk-Portable/User/Basilisk/Profiles/Default/xulstore.json


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release



# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# VEGAS audio waveform peak files
*.sfk
*.sfap0
utilities/config.bat
