@font-face {
	font-family: "GlyphiconsRegular";
	src: url("/fonts/glyphicons-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

i.ico {
	font-family: "GlyphiconsRegular";
	font-style: normal;
	display: inline-block;
}
i.ico.arr_r::before {
	content: '\E369';
}
i.ico.arr_reset::before {
	content: '\E366';
}
i.ico.arr_swap::before {
	content: '\E230';
}
i.ico.briefcase::before {
	content: '\E358';
}
i.ico.brush::before {
	content: '\E235';
}
i.ico.cloud::before {
	content: '\2601';
}
i.ico.coat::before {
	content: '\E384';
}
i.ico.cog::before {
	content: '\E137';
}
i.ico.copy::before {
	content: '\E319';
}
i.ico.dice::before {
	content: '\E323';
}
i.ico.download::before {
	content: '\E182';
}
i.ico.film::before {
	content: '\E009';
}
i.ico.flop::before {
	content: '\E444';
}
i.ico.grid::before {
	content: '\E156';
}
i.ico.interr::before {
	content: '\E195';
}
i.ico.blist::before {
	content: '\E158';
}
i.ico.left::before {
	content: "\E225";
}
i.ico.newfolder::before {
	content: '\E146';
}
i.ico.magnify::before {
	content: '\E028';
}
i.ico.person::before {
	content: '\E004';
}
i.ico.phone::before {
	content: '\E164';
}
i.ico.play::before {
	content: '\E174';
}
i.ico.pause::before {
	content: '\E175';
}
i.ico.redo::before {
	content: '\E435';
}
i.ico.right::before {
	content: "\E224";
}
i.ico.speech::before {
	content: '\E310';
}
i.ico.trash::before {
	content: '\E017';
}
i.ico.undo::before {
	content: '\E436';
}
