/***
this css has the general header/footer layout stuff
***/
@import url("./modern-normalize.css");

/**
general
**/
html, body {
	background: #fff;
	color: #474747;
	font: 15.5px/1.5 'Sailec', Arial, sans-serif;
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	padding: 20px 40px;
}
html.dark, html.dark body {
	background: #000000;
	color: #ccc;
}


/**
header
**/
header {
	/* style */
	background: #1e1e1e;
	color: #fff;
	text-align: center;
	padding-bottom: 15px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}
/* makes the header a set height when the window is 887px wide */
@media (min-width: 890px) {
	header {
		padding-bottom: auto;
		height: 45px;
	}
}
#logo {
	margin-top: 5px;
	height: 35px;
}
/* buttons */
.button_big,
.button_small {
	/* style */
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	/* layout */
	display: inline-block;
	padding: 5px 10px;
	margin: 5px 5px;
}
.button_big:hover,
.button_small:hover {
	cursor: pointer;
}
/* small buttons */
.button_small       { background: rgb(0, 30, 255); color: #ffffff; transition: 1s;
 }
.button_small:hover { background: rgb(40, 40, 255); color: #ffffff
 }
=======
.button_small       { background: #333 }
.button_small:hover { background: #444; color: #00FFFF }
/* big buttons */
.button_big {
	background-color: orange;
	width: 155px;
	transition: 1s;
}
.button_big:hover {
	background-color: darkblue;
}


/**
header dropdowns
**/
/* change button margin/padding to fit dropdown */
.dropdown_contain { padding: 0; margin: 5px 5px; }
.dropdown_button { margin: 0; padding: 5px 10px; }
.upload_button { margin: 0; padding: 5px 25px; }
/* make dropdown appear on hover */
.dropdown_contain:hover>nav {
	display: block;
	cursor: default;
}
/* the dropdown itself */
.dropdown_menu {
	/* style */
	background-color: #000000;
	border-radius: 5px;
	/* layout */
	width: 100%;
	padding: 5px 0;
	margin: -10.5;
	text-align: left;
	/* hover stuff */
	position: relative;
	float: left;
	display: none;
}
/* dropdown links */
.dropdown_menu>a {
	/* style */
	font-size: 15.5px;
	color: #ddd;
	text-decoration: none;
	/* layout */
	display: block;
	padding: 0px 15px;
}
.dropdown_menu>a:hover {
	background: #222;
	color: #2d27d8;
=======
	color: #00FFFF;
	cursor: pointer;
}
/* dropdown header and separation */
.dropdown_menu>h2 {
	/* style */
	color: #fff;
	font-size: 20px;
	/* layout */
	margin:0;
	padding:0 20px;
}
.dropdown_menu>hr {
	border: 1px solid #0012b4;
	margin: 10px 0;

}

/**
footer
**/
footer{
	background: #000000;
	margin-top: auto; /* footer at the foot */
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}
 .fab, .fas {
	padding: 5px;
	font-size: 20.5px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 1px 0px;
	border-radius: 50%;
	transition: 1s;
  }
.fab:hover { color: blue;}
.fas:hover { color: blue;}
footer nav { margin:5px 10px}
/* links */
footer a {
	color: #fff;
	text-decoration:none;
	margin: 0 10px;
	font-weight: bold;
	margin-top: 10%;
}
footer a:hover { color: blue;}

/**
font importing
**/
@font-face {
	font-family: 'Sailec';
	font-weight: 100;
	src: url('.../fonts/Sailec-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 200;
	src: url('../fonts/Sailec-Light.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 400;
	src: url('../fonts/Sailec-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 500;
	src: url('../fonts/Sailec-Medium.woff') format('woff');
}

/* font weight 500 and font weight 700 (bold) are the same for better integration support */
@font-face {
	font-family: 'Sailec';
	font-weight: 700;
	src: url('../fonts/Sailec-Medium.woff') format('woff');
}

@font-face {
	font-family: 'GlyphiconsRegular';
	src: url('../fonts/glyphicons-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
