@import url("./modern-normalize.css");

:root {
	--textured-background: #fff url(../img/background_overlay.png);
	--primary: #d85e27;
	--transition: .15s ease;
	--shadow-small: inset 0 1px #fff1, 0 1px 3px #0003;
}

html.dark {
	--textured-background: #111 url(../img/background_overlay.png);
}

/**
general
**/
html, body {
	background: linear-gradient(#efefef, #e4e4e4);
	color: #474747;
	font: 16px/1.5 'Sailec', Arial, sans-serif;
	width: 100%;
	height: 100%;
}
html.dark, html.dark>body {
	background: linear-gradient(#242424, #181818);
	color: #eee;
}
body {
	display: flex; 
	flex-direction: column;
	overflow: hidden;
}
main {
	border-top: 1px solid #fff1;
	padding: 20px 40px;
	height: 100%;
	overflow: auto;
}


/**
header
**/
header {
	background: var(--textured-background);
	box-shadow: inset 0 -9px 5px -9px #0003;
	color: #fff;
	text-align: center;
	padding-bottom: 13px;
	padding: 0 15px;
	z-index: 1;
}
@media (min-width: 735px) {
	header {
		display: flex;
		justify-content: space-between;
		flex-shrink: 0;
		padding-bottom: auto;
		height: 44px;
	}
}
#logo {
	margin-top: 4px;
	height: 35px;
}
/* buttons */
.btn {
	background: linear-gradient(#efefef, #d0d0d0);
	box-shadow: var(--shadow-small);
	color: #222;
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	margin: 6px 5px;
}
html.dark .btn {
	background: linear-gradient(#333, #262626);
	color: #fff;
}
.btn:hover {
	background: linear-gradient(#fff, #dfdfdf);
	color: var(--primary)!important;
	cursor: pointer;
}
html.dark .btn:hover {
	background: linear-gradient(#3a3a3a, #2e2e2e);
}
.btn.btn_primary {
	background: linear-gradient(#e4713e, #a04c27)!important;
	color: #eee!important;
	width: 160px;
}
.btn.btn_primary:hover {
	background: linear-gradient(#fb6626, #b34a1a)!important;
	color: #fff;
}


/**
header dropdowns
**/
/* change button margin/padding to fit dropdown */
.dropdown_contain { display: inline-block; }
.dropdown_contain>.btn { padding: 5px 17px; }
.dropdown_contain:hover>nav {
	display: table;
	cursor: default;
}
/* the dropdown itself */
.dropdown_menu {
	background-color: #333;
	border-radius: 4px;
	padding: 10px 0;
	margin: 0;
	text-align: left;
	display: none;
}
.dropdown_menu>a {
	color: #ddd;
	text-decoration: none;
	transition: var(--transition);
	display: block;
	padding: 2px 20px;
}
.dropdown_menu>a:hover {
	background: #2a2a2a;
	color: var(--primary);
	cursor: pointer;
}
.dropdown_menu>h2 {
	color: #fff;
	font-size: 15px;
	margin:0;
	padding:2px 20px;
}
.dropdown_menu>hr {
	border: 1px solid #222;
	margin: 10px 0;
}
/* movie upload */
form.hide { display: none }

/**
tabs
**/
.tabs_contain {
    border-radius: 6px;
    display: flex;
    margin: auto auto;
}
.tab_buttons {
	padding: 8px 0;
    display: flex;
    flex-direction: column;
    min-width: 180px;
}
.tabs_contain h1 {
    font-size: 20px;
    margin: 0 0 10px;
}
.tab_buttons a {
	background: #fff;
	color: #333;
	text-decoration: none;
	border-radius: 5px;
	transition: var(--transition);
	padding: 8px 18px;
	margin: 2px 0;
}
.tab_buttons a:hover { background: #ddd; color: var(--primary) }
html body .tab_buttons a.selected { background: var(--primary); color: #fff }
html.dark .tab_buttons a {
	background: #353535;
	color: #fff;
}
html.dark .tab_buttons a:hover:not(.selected) { background: #2a2a2a; color: var(--primary) }
.tab { padding: 0 20px; display: none }

/**
footer
**/
footer {
	background: transparent;
	margin-top: auto; /* footer at the foot */
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}
footer nav { margin: 2px 10px; }
footer a, footer span {
	color: #000;
	text-decoration:none;
	margin: 0 6px;
	font-weight: bold;
	font-size: 13px;
}
html.dark footer a, html.dark footer span {
	color: #fff;
}
footer a:hover {
	text-decoration: underline;
}

/**
add fonts
**/
@font-face {
	font-family: "Sailec";
	font-weight: 100;
	src: url(".../fonts/Sailec-Thin.woff") format("woff");
}
@font-face {
	font-family: "Sailec";
	font-weight: 200;
	src: url("../fonts/Sailec-Light.woff") format("woff");
}
@font-face {
	font-family: "Sailec";
	font-weight: 400;
	src: url("../fonts/Sailec-Regular.woff") format("woff");
}
@font-face {
	font-family: "Sailec";
	font-weight: 500 700;
	src: url("../fonts/Sailec-Medium.woff") format("woff");
}

@font-face {
	font-family: "GlyphiconsRegular";
	src: url("../fonts/glyphicons-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
