app-setting {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 0 15px;
    margin-bottom: 15px;
    max-width: 800px;
}
app-setting::part(h3) {
    margin: 0 0 5px;
    font-size: 15px;
}
app-setting::part(p) {
    color: #222;
    margin: 0;
    font-size: 14px;
}
html.dark app-setting {
    border-color: #2e2d39;
}
html.dark app-setting::part(p) {
    color: #cacaca;
}
