initial-setup .popup {
	min-width: 600px;
	overflow-x: hidden;
	
	& .contents {
		display: none;
	}
	& .step_1_contents {
		& .icon_img {
			height: 150px;
			margin: auto;
			display: block;
		}
		& h3 {
			margin: 5px 0 18px;
			text-align: center;
		}
	}
}

initial-setup.step_1 .popup {
	& .step_1_contents {
		display: block;
	}
}

initial-setup.step_2 .popup {
	& .step_2_contents {
		animation: 0.2s slide-left cubic-bezier(0.4, 0.5, 0, 1);
		display: block;

		& .theme_preset {
			margin-bottom: 10px;
		}
	}
}

@keyframes slide-left {
	0% {
		position: relative;
		left: 100%;
	}
	100% {
		position: relative;
		left: 0;
	}
}
