:root {
	--sidebar-open-anim: cubic-bezier(0.2, 0.95, 0.25, 1);
}

app-sidebar {
	background: #f0eeff;
	border-right: 1px solid #c8c6dd;
	box-shadow: 0 0 3px #0001;
	transition: width 0.2s var(--sidebar-open-anim);
	z-index: 8;
	user-select: none;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0 6px 8px;

	/**
	logo container
	**/
	& #logo_container {
		background: #1e1b2b;
		border-right: 1px solid #15131f;
		border-bottom: 1px solid #433d5d;
		transition: width 0.2s var(--sidebar-open-anim);
		padding: 4px 8px;
		transform: translateX(-6px);
		cursor: pointer;
		width: 250px;
		height: 50px;

		& .toggle_btn {
			border-radius: 3px;
			transition: background 0.2s var(--sidebar-open-anim);
			user-select: none;
			width: 100%;
			height: 100%;
		}
		& .toggle_btn:hover {
			background: #fff;
		}

		& #logo_icon {
			transition: 0.205s var(--sidebar-open-anim);
			pointer-events: none;
			position: absolute;
			left: calc(50% - calc(175px / 2));
			height: 41px;
		}
		& #logo_wordmark {
			transition: 0.2s var(--sidebar-open-anim);
			pointer-events: none;
			position: absolute;
			left: calc(50% - calc(175px / 2));
			height: 41px;
		}
	}

	/**
	sidebar sections *OR* grouped link containers
	**/
	& ul {
		list-style: none;
		margin: 0;
		padding: 0 2px;
	}
	/* only sections */
	&>ul:first-of-type {
		border-bottom: 1px dashed #ceccde;
	}
	&>ul:last-of-type {
		border-top: 1px dashed #ceccde;
		margin-top: auto;
	}

	/* icons */
	& i {
		margin-top: -1px;
		margin-right: 6px;
	}

	/* grouped links (faq & discord) */
	& .group>ul {
		display: flex;
		justify-content: space-between;
		padding: 0;

		&>.link {
			margin-bottom: 0;
			width: calc(50% - 2.5px);
		}
	}

	& .link {
		background: #fafaff;
		border-bottom: 1px solid #bfb9da;
		box-shadow: 0 0 1px #0009;
		border-radius: 3px;
		transition: 0.1s ease-out;
		overflow: hidden;
		display: flex;
		margin: 5px 0;
		width: 100%;
		height: 36px;

		&>button {
			background: #0000;
			border: none;
			color: #232323;
			cursor: pointer;
		}
		/* remove ugly button styling */
		&>button:focus {
			outline: none;
		}
		&.pin_btn {
			background: #23222d;
			border-style: dashed;
			box-shadow: inset 0 0 0 1px #1b1a21;
		}
		&>a {
			color: #232323;
			text-decoration: none;
			display: flex;
			padding: 5px 12px;
			flex-grow: 1;
			height: 100%;
			width: calc(100% - 14px);
		}

		&::after {
			content: "";
			background: linear-gradient(90deg, #0000 0, #f6f5ff 10px);
			width: 14px;
			height: 100%;
		}
	}
	& .link:hover {
		background: #ffeaf4;
		border-color: #e4b0c5;
	}
	& .link.sel {
		background: #ffdbe8;
		border-color: #e686a9;
		color: #d60955;

		i {
			animation: 0.2s iconBounce cubic-bezier(0, 0.8, 0.45, 1.35);
		}
	}

	& .dragger {
		cursor: col-resize;
		position: absolute;
		float: right;
		width: 6px;
		height: 100%;
	}
	& .dragger:hover {
		background: #489cf7a3;
		transition: 0.1s ease-in;
	}
}

/**
links that lead to user content
**/

/* page folders collapse button */
app-sidebar .user_custom .link>button {
	border-radius: 3px 0 0 3px;
	font-size: 12px;
	text-align: left;
	padding: 5px 5px 5px 8px;
	height: 100%;
}
app-sidebar .user_custom .link>button:hover {
	background: #ffd3e8;
}
app-sidebar .user_custom .link>a {
	padding: 5px 6px 5px 3px;
}

/* sidebar collapse button */
app-sidebar .link[data-toggle]>button {
	display: flex;
	padding: 5px 12px;
	flex-grow: 1;
	line-height: 24px;
}
app-sidebar .link[data-toggle]>button i.ico::before {
	transition: transform 0.2s cubic-bezier(0, 0.8, 0.45, 1.35);
	transform: scale(-1) translate(0.5px, 0);
	display: block;
}
app-sidebar .link[data-toggle]>button:hover {
	background: #0000
}
/* pinned links heading */
app-sidebar h3 {
	color: #918fa0;
	font-size: 13px;
    font-weight: bold;
	text-transform: uppercase;
    margin: 5px 0;
}
/* version string */
app-sidebar #wrapper_ver {
	color: #909090;
	display: block;
	font-size: 13px;
	text-align: center;
	width: 100%;
}

/***
dark mode recoloring
***/
html.dark app-sidebar {
	background: #24232e;
	border-color: #292833;
	box-shadow: 0 0 3px #0002;

	& #logo_container {
		background: #14121c;
		border-right-color: #2e2d39;
		border-bottom-color: #2e2d39;

		& .toggle_btn:hover {
			background: #1b1924;
		}
	}
	
	&>ul:first-of-type {
		border-color: #343242;
	}
	&>ul:last-of-type {
		border-color: #343242;
	}
	
	& .link {
		background: #2c2b38;
		border-bottom-color: #1a1925;

		&>a {
			color: #ddd;
		}
		&>button {
			color: #ddd;
		}
		& i {
			color: #9f9eab;
		}

		&::after {
			background: linear-gradient(90deg, #0000 0, #2c2b38 10px);
		}

		&.pin_btn {
			background: #23222d;
			box-shadow: inset 0 0 0 1px #1b1a21;
		}
		&:hover {
			background: #422b3d;
			border-color: #6b3f56;
		}
		&.sel {
			background: #3c2234;
			border-color: #732a46;
			color: #fff;
		}
	}
	& .user_custom .link>button:hover {
		background: #573344;
	}
	
	& #wrapper_ver {
		color: #bbb;
	}
}

/**
width below 200px
**/
app-sidebar.logo_collapsed {
	/* hide the logo wordmark */
	& #logo_container {
		width: 62px;

		& #logo_icon {
			left: calc(50% - calc(41px / 2));
		}
		& #logo_wordmark {
			opacity: 0;
		}
	}
} 

/***
collapsed
***/
app-sidebar.collapsed {
	/* display groups vertically */
	& .group>ul {
		display: block;	

		&>.link {
			width: 100%;
		}
	}
	& .link::after {
		content: none;
	}
	/* flip the collapse button and hide link text */
	& .link[data-toggle] i.ico::before {
		transform: scale(1);
	}
	& .link_text {
		display: none;
	}
}

app-sidebar.resize {
	transition: none;

	& #logo_container {
		transition: none;
	}

	& .dragger {
		background: #5298d6;
	}
}

body.col_resize {
	cursor: col-resize;
}

/**
animations
**/
@keyframes iconBounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.4);
	}
	100% {
		transform: scale(1);
	}
}
