themelist-editor {
	user-select: none;

	& .move_placeholder {
		background: #ce4379;
		border-radius: 18px;
		position: relative;
		margin-top: -4px;
		transform: translate(-2px, 2px);
		width: 184px;
		height: 4px;
	}

	/* theme preset selector */
	&>.theme_preset {
		display: flex;

		&>select-menu {
			margin-left: 8px;
		}
	}

	&>.selected_themes {
		background: #19191f;
		border: 1px solid #19191f;
		border-radius: 3px;
		display: flex;
		overflow: auto;
		margin-bottom: 0;
		padding: 0 7px;
		min-height: 235px;

		&>.theme_column {
			margin-right: 2px;
			padding: 6px 3px;
			width: 186px;
		}
	}

	&>.unused_themes {
		background: repeating-linear-gradient(45deg, #19191f 0, #19191f 5px, #0e0e11 5px, #0e0e11 18px, #19191f 18px);
		border: 1px solid #312f3c;
		border-radius: 3px;
		overflow: auto;
		margin-bottom: 20px;
		padding: 8px 10px;
		height: 115px;
	
		.theme {
			display: inline;
		}
	}

	&>.help_text {
		opacity: 0;
		transition: .2s cubic-bezier(0.215, 0.610, 0.355, 1);
		display: block;
		text-align: center;
		font-size: 12px;
		line-height: 0;
		font-weight: bold;
	}
	&>.help_text.show {
		opacity: 1;
	}
}


/**
theme
**/
.theme {
	background-color: #f5f5ff;
	background-position: center -30px;
	background-blend-mode: overlay;
	background-size: 100%;
	border-radius: 3px;
	transition: .1s cubic-bezier(0.05, 0.6, 0.3, 1);
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	font-weight: bold;
	margin: 3px 0;
	padding: 3px 9px;
	width: 180px;
}
.theme img {
	border-radius: 100%;
	transition: filter 0.1s linear;
	margin-right: 12px;
	display: block;
	height: 70px;
	width: 70px;
}
.theme:hover img {
	filter: brightness(1.2) blur(0.5px);
}


.theme.unselected {
	background: #f00;
}

html div.theme:hover {
	background-color: #babeea;
	color: #fff;
	text-shadow: 0 0 10px #000;
	box-shadow: 0 2px 4px #00000010;
	background-size: 105%;
	background-position: center -15px;
	cursor: pointer;
}
html.dark .theme {
	background-color: #2c2c2c;
	border-color: #373546;
	background-blend-mode: color;
}
html.dark .theme:hover {
	background-color: #5d4354;
	border-color: #6b3f56;
	color: #ffd2e3;
	background-blend-mode: overlay;
}

themelist-editor.edit_mode {
	& .theme {
		opacity: 0.7;
	}
}
