/***
this css has the create page stuff
***/

/**
main
**/
main {
	padding: 20px 40px;
	text-align: center;
}


/**
theme
**/
.theme {
	background-color: #f5f5ff;
	background-position: center -30px;
	background-blend-mode: overlay;
	background-size: 100%;
	border: 1px solid #ceccde;
	border-radius: 3px;
	transition: 0.12s cubic-bezier(0.7, 0.5, 0.3, 1);
	display: inline-flex;
	align-items: center;
	font-size: 21px;
	font-weight: bold;
	margin: 5px;
	padding: 8px;
	width: 302px;
}
html div.theme:hover {
	background-color: #babeea;
	color: #fff;
	text-shadow: 0 0 10px #000;
	box-shadow: 0 2px 4px #00000010;
	background-size: 105%;
	background-position: center -15px;
	cursor: pointer;
}
html.dark .theme {
	background-color: #2c2c2c;
	border-color: #373546;
	background-blend-mode: color;
}
html.dark .theme:hover {
	background-color: #5d4354;
	border-color: #6b3f56;
	color: #ffd2e3;
	background-blend-mode: overlay;
}
.theme img {
	border-radius: 100%;
	transition: filter 0.1s linear;
	margin-right: 12px;
	display: block;
	height: 70px;
	width: 70px;
}
.theme:hover img {
	filter: brightness(1.2) blur(0.5px);
}

/**
char copy
**/
.upload_container {
	background-color: #f9fafa;
	box-shadow: 0 1px 5px #0002;
	border-radius: 3px;
	margin: 5px;
	padding: 3px;
	padding-bottom: 6px;
	display: inline-flex;
	width: 302px;
	height: 203px;
	flex-direction: column;
	justify-content: space-evenly;
	flex-basis: 0;
}
html.dark .upload_container {
	background: #353535;
}
.upload_container input {
	background: #fff;
	border: 1px solid #cac9d4;
	box-shadow: inset 0 1px #1112;
	color: #111;
	border-radius: 4px;
	padding: 7px 10px;
	font-size: 14px;
}
html.dark .upload_container input {
	background: #2a2a2a;
	border-color: #212121;
	color: #fff;
}
.upload_container .btn {
	margin: 0;
	width: unset;
}
.upload_container h2 {
	font-size: 14px;
	margin: 3px 0;
}
