/***
this css has the general header/footer layout stuff
***/

@import url("./modern-normalize.css");
@import url("./icons.css");

:root {
	--primary: #d85e27;
	--transition: .15s ease;
}

/**
general
**/
html, body {
	background: #e6e5f1;
	color: #505969;
	font: 16px/1.5 "Sailec", Arial, sans-serif;
	width: 100%;
	height: 100%;
}
html.dark, html.dark>body {
	background: #1e1d25;
	color: #eee;
}
#wo_page_container {
	display: flex; 
	flex-direction: row;
	overflow: hidden;
	height: calc(100% - 50px);
}
main#wo_page {
	background: #0000;
	overflow: auto;
	padding: 25px 20px;
	width: 100%;
}


/**
sidebar
**/
#wo_sidebar {
	background: #f0eeff;
	border-right: 1px solid #ceccde;
	transition: width 0.2s cubic-bezier(0.2, 0.95, 0.25, 1);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0 6px;
	width: 250px;
}
html.dark #wo_sidebar {
	background: #24232f;
	border-color: #343242;
}
#wo_sidebar.collapsed {
	width: 62px;
}
/* sections */
.sb_section {
	padding: 0 4px;
}
#sidebar_top {
	border-bottom: 1px solid #ceccde;
}
#sidebar_bottom {
	border-top: 1px solid #ceccde;
	margin-top: auto;
}
html.dark #sidebar_top,
html.dark #sidebar_bottom {
	border-color: #343242;
}
/* special elements */
#wrapper_ver {
	color: #909090;
	display: block;
	font-size: 13px;
	text-align: center;
	width: 100%;
}
html.dark #wrapper_ver {
	color: #bbb;
}
/* buttons */
.sidebar_link {
	background: #f6f5ff;
	border: 1px solid #c7c4d9;
	color: #232323;
	border-radius: 3px;
	transition: 0.1s ease-out;
	text-decoration: none;
	display: block;
	margin: 5px 0;
	padding: 5px 12px;
	width: 100%;
	height: 36px;
}
html.dark .sidebar_link {
	background: #2b2938;
	border-color: #343242;
	color: #ddd;
}
.sidebar_link i {
	float: left;
	margin-right: 6px;
}
.sidebar_link:hover {
	background: #fff2fb;
	border-color: #f5bcd2;
}
html.dark .sidebar_link:hover {
	background: #422b3d;
	border-color: #6b3f56;
}
.sidebar_link.sel {
	background: #ffe9f1;
	border-color: #f1a7c2;
	color: #d61f63;
}
html.dark .sidebar_link.sel {
	background: #3c2234;
	border-color: #732a46;
	color: #fff;
}
.sidebar_link.sel i {
	animation: 0.2s iconBounce cubic-bezier(0, 0.8, 0.45, 1.35);
}
#wo_sidebar.collapsed .sb_link_text {
	display: none;
}
/* collapse button */
.sidebar_link.tog i.ico::before {
	transition: transform 0.2s cubic-bezier(0, 0.8, 0.45, 1.35);
	transform: scale(-1) translate(0.5px, -1px);
	display: block;
}
#wo_sidebar.collapsed .sidebar_link.tog i.ico::before {
	transform: scale(1);
}
/* two buttons side by side */
.sidebar_group {
	display: flex;
	justify-content: space-between;
}
.sidebar_group .sidebar_link {
	margin-bottom: 0;
	width: 49%;
}
#wo_sidebar.collapsed .sidebar_group {
	display: block;
}
#wo_sidebar.collapsed .sidebar_link {
	width: 100%;
}


/**
header
**/
header {
	/* style */
	background: #242235;
	border-bottom: 1px solid #433d5d;
	box-shadow: inset 0 -1px #5d5984;
	color: #fff;
	text-align: center;
	/* layout */
	z-index: 1;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}
html.dark header {
	background: #191823;
	border-color: #343242;
	box-shadow: none;
	padding: 0;
	height: 50px;
}
/* makes the header a set height when the window is 887px wide */
@media (min-width: 735px) {
	header {
		height: 50px;
	}
}
#logo {
	display: block;
	padding: 4px 8px;
	width: 250px;
}
#wo_address_bar {
	display: flex;
	width: 100%;
}
#wo_address_container {
	display: flex;
}
header .btn {
	background: #344583;
}
header .btn:hover {
	background: #2f3e75;
}


/**
buttons
**/
.btn {
	/* style */
	background: #43bca5;
	border: none;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	/* layout */
	display: inline-block;
	padding: 5.5px 10px;
	margin: 9px 5px;
}
.btn:hover {
	background: #029a85;
	cursor: pointer;
}
.dark .btn {
	background: #333;
}
.dark .btn:hover {
	background: #444;
}
/* primary color buttons */
.btn.btn_primary {
	background: #e97d3b;
	width: 160px;
}
.btn.btn_primary:hover {
	background: #dd6522;
}


/**
header dropdowns
**/
/* change button margin/padding to fit dropdown */
.dropdown_contain { padding: 0; margin: 6px 5px; }
.dropdown_button { margin: 0; padding: 5.5px 10px; }
.upload_button { margin: 0; padding: 5.5px 25px; }
/* make dropdown appear on hover */
.dropdown_contain:hover>nav {
	display: block;
	cursor: default;
}
/* the dropdown itself */
.dropdown_menu {
	/* style */
	background-color: #333;
	border-radius: 4px;
	/* layout */
	width: 100%;
	padding: 10px 0;
	margin: 0;
	text-align: left;
	/* hover stuff */
	position: relative;
	float: left;
	display: none;
}
/* dropdown links */
.dropdown_menu>a {
	/* style */
	color: #ddd;
	text-decoration: none;
	transition: var(--transition);
	/* layout */
	display: block;
	padding: 2px 20px;
}
.dropdown_menu>a:hover {
	background: #2a2a2a;
	color: var(--primary);
	cursor: pointer;
}
/* dropdown header and separation */
.dropdown_menu>h2 {
	/* style */
	color: #fff;
	font-size: 15px;
	/* layout */
	margin:0;
	padding:2px 20px;
}
.dropdown_menu>hr {
	border: 1px solid #222;
	margin: 10px 0;
}
/* movie upload */
form.hide { display: none }

/**
tabs
**/
.tab_nav_container {
	margin: auto;
}
.tab_navigation {
	display: flex;
	margin: 0 auto;
}
.tab_nav_container .tab_navigation {
	border-bottom: 10px solid #fff;
	box-shadow: 0 4px 3px -2px #0002;
}
html.dark .tab_nav_container .tab_navigation {
	border-color: #282828;
}
.tab {
	background: #e3e7ed;
	border-right: 1px solid #cfcfcf;
	box-shadow:
		inset 0 1px #cfcfcf,
		inset 0 -1px #c1c1c1,
		inset 0 -6px 6px -5px #0002;
	color: #505e73;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	width: 100%;
}
.tab:last-of-type {
	border: none;
}
.tab.selected {
	background: #fff;
	color: #dd6522;
	box-shadow: 0 -5px #dd6522;
}
html.dark .tab:not(.selected) {
	background: #242424;
	border-color: #2a2a2a;
	box-shadow: inset 0 1px #2a2a2a, inset 0 -1px #222, inset 0 -6px 6px -5px #0002;
	color: #ddd;
}
html.dark .tab.selected {
	background: #282828;
	border-color: #222;
}
.tab:hover,
html.dark .tab:hover {
	color: #dd6522;
}
/* pages */
.tab_page {
	display: none;
}


/**
animations
**/
@keyframes iconBounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.4);
	}
	100% {
		transform: scale(1);
	}
}


/**
font importing
**/
@font-face {
	font-family: 'Sailec';
	font-weight: 100;
	src: url('.../fonts/Sailec-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 200;
	src: url('../fonts/Sailec-Light.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 400;
	src: url('../fonts/Sailec-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 500;
	src: url('../fonts/Sailec-Medium.woff') format('woff');
}

/* font weight 500 and font weight 700 (bold) are the same for better integration support */
@font-face {
	font-family: 'Sailec';
	font-weight: 700;
	src: url('../fonts/Sailec-Medium.woff') format('woff');
}

@font-face {
	font-family: 'GlyphiconsRegular';
	src: url('../fonts/glyphicons-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
