i.ico {
	font-family: "GlyphiconsRegular";
    font-style: normal;
    display: inline-block;
}
i.ico.arr_r::before {
	content: '\E369';
}
i.ico.arr_reset::before {
	content: '\E366';
}
i.ico.briefcase::before {
	content: '\E358';
}
i.ico.coat::before {
	content: '\E384';
}
i.ico.cog::before {
	content: '\E137';
}
i.ico.dice::before {
	content: '\E323';
}
i.ico.film::before {
	content: '\E009';
}
i.ico.flop::before {
	content: '\E444';
}
i.ico.interr::before {
	content: '\E195';
}
i.ico.person::before {
	content: '\E004';
}
i.ico.redo::before {
	content: '\E435';
}
i.ico.speech::before {
	content: '\E310';
}
i.ico.undo::before {
	content: '\E436';
}

