#importer {
	background: #e2e7ed;
	box-shadow: 0 0 8px #00000028;
	overflow: auto;
	z-index: 1;
	display: none;
	width: 440px;
}

/**
header
**/
#import_head {
	background: #222c46;
	color: #fff;
	margin-bottom: 5px;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
#import_head>.close_button {
	margin: 6px;
}
#import_head>.close_button:hover { 
	cursor: pointer; 
	color: var(--primary); 
}
#importer form { display: none }

/**
importer hints
**/
.importer_hint {
    background: #ffffa6;
    border: 1px solid #cccc68;
    border-left: none;
    border-right: none;
    padding: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}
.importer_hint.drag_hint {
	background: #43bca5;
	border-color: #029a85;
	color: #fff;
	font-size: 20px;
	padding-top: 3px;
	display: none;
}
.importer_hint .btn {
	padding: 6px 25px;
}

/**
queue
**/
.importer_asset {
	background: #edf2f6;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 5px;
}
/* metadata */
.asset_metadata {
	display: flex;
	padding: 7px;
}
.asset_preview { 
	margin-right: 6px;
	/* scale image to fit */
	overflow: hidden;
	object-fit: contain;
	height: 40px;
	width: 40px;
}
.asset_name {
	color: #444;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
	max-width: 269px;
}
.asset_name[contenteditable] {
	background-color: #0001;
	outline: #666 auto 2px;
	padding: 1px 4px;
}
.asset_name[contenteditable]:focus {
	outline: var(--primary) auto 2px;
}
.importer_asset p {
	color: #858e95;
	font-size: 12px;
	margin: 0;
}
/* asset types */
.import_as {
	background: #fff;
}
.import_as a {
	display: block;
	padding: 5px 20px;
	color: #505969;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	border-top: 1px solid #e2e7ed;
}
.import_as a:hover {
	background: #f5f5f5;
}
