/**
table
**/
#video_list {
	border-collapse: collapse;
	margin: 0 auto 127px;
	font-size: 14px;
	width: 100%;
	max-width: 100%;
}
#table_view_header {
	margin: 0 auto;
}


/**
table columns
**/
.video_col {
	padding: 8px;
	vertical-align: middle;
	flex-shrink: 0;
}
.video_col>* {
	vertical-align: middle;
}

/**
table rows
**/
.video {
	border-top: 0;
	border-bottom: 1px solid #ddd;
	display: flex;
}
.dark .video { border-color: #3a3a3a }


/**
header
**/
#table_view_header {
    background: #fff;
    font-weight: 200;
    box-shadow: 0 4px 3px -2px #0002;
}
.dark #table_view_header {
	background: #282828;
}
#table_view_header .video_col {
	padding: 5px;
}
#table_view_header>.video>:nth-child(3) {
	padding-top: 7px;
}
/* search bar */
.video_col#search_container {
	padding: 0;
	line-height: 28px;
}
#table_view_header input {
    border: 1px solid #cac9d4;
    box-shadow: inset 0 1px #1112;
    border-radius: 4px;
    color: inherit;
    font-weight: 500;
    padding: 0 7px;
    width: 100%;
    height: 30px;
}
.dark #table_view_header input {
	background: #2a2a2a;
	border-color: #212121;
}
#table_view_header input:focus {
	outline: none;
}


/**
thumbnail
**/
/* column */
.video>:nth-child(1) {
	width: 90px;
}
/* image */
.video>:nth-child(1)>img {
	display: block;
	height: 42px;
}
.video>:nth-child(1) {
	word-break: break-word;
}

/**
information
**/
.video>:nth-child(2) {
	flex-shrink: 1;
	padding-top: 9px;
	width: 100%;
}
/* title */
.video>:nth-child(2)>:nth-child(1) {
    font-weight: bold;
}
/* duration */
.video>:nth-child(2)>:nth-child(2) {
	color: #939ca2;
	font-size: 13px;
}
html.dark .video>:nth-child(2)>:nth-child(2) { color: #bbb }

/**
last modified
**/
/* column */
.video>:nth-child(3) {
	padding-top: 18px;
	width: 215px;
}
/* date modified */
.video>:nth-child(3)>* {
	font-family: monospace;
	letter-spacing: 1px;
}

/**
actions (play, edit, delete)
**/
/* column */
.video>:nth-child(4) {
	font-family: "GlyphiconsRegular";
	text-decoration: none;
	font-size: 14px;
	padding-top: 14px;
	width: 175px;
}
/* buttons */
.video>:nth-child(4)>a {
	background: #43bca5;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    padding: 1px 4.5px;
    text-align: center;
    margin-right: -4px;
    display: none; 
}
.video>:nth-child(4)>a:hover {
	background: #46ccb2;
}
.video:hover>:nth-child(4)>a {
    display: inline-block;
}
html.dark .video>:nth-child(4)>a { color: #eee }


/**
footer, load more button
**/
tfoot>.video>.video_col {
	text-align: center;
	border: none;
}
tfoot>.video>.video_col>a {
	text-decoration: none;
	color: #474747;
	font-size: 14px;
}


/**
hardcoded icons! :)
**/
.video>:nth-child(4)>:nth-child(1)::before {
	content: '\E174';
}
.video>:nth-child(4)>:nth-child(2)::before {
	content: '\E235';
}
.video>:nth-child(4)>:nth-child(3)::before {
	content: '\E182';
}
.video>:nth-child(4)>:nth-child(4)::before {
	content: '\E319';
}
.video>:nth-child(4)>:nth-child(5)::before {
	content: '\E017';
}


/**
make the table responsive
**/
@media(min-width: 790px) {
	.tab_navigation,
	#table_view_header,
	#video_list {
		width: 750px;
	}
}
@media(min-width: 1012px) {
	.tab_navigation,
	#table_view_header,
	#video_list {
		width: 970px;
	}
}
@media(min-width: 1210px) {
	.tab_navigation,
	#table_view_header,
	#video_list {
		width: 1170px;
	}
}
