/**
open/close button
**/
button.sel_btn {
	background: #292733;
    border: 1px solid #292733;
    color: #fff;
    border-radius: 2px;
	text-align: left;
    display: block;
    padding: 4px 10px;
    min-width: 100px;

	&::after {
		content: "\22c1";
		color: #ddd;
		font-size: 7px;
		float: right;
		margin-top: 4px;
	}
}
button.sel_btn:focus {
	outline: none;
}

ul.menu {
	background: #bbbbd8;
	border-radius: 0 0 3px 3px;
	position: absolute;
	margin: 0;
	padding: 5px 0px;
	list-style-type: none;
	display: none;
	min-width: 100px;
}
ul.menu li {
	color: #353548;
	cursor: pointer;
	padding: 1px 18px 1px 13px;
}
ul.menu li:hover {
	background: #fff4;
}

.open button.sel_btn {
	border-radius: 3px 3px 0 0;
}
.open ul.menu {
	display: block;
}
